# mlflow settings
MLFLOW_SERVICE_NAME=mlflow_service
MLFLOW_SERVICE_PORT=5000
MLFLOW_TRACKING_URI=http://$MLFLOW_SERVICE_NAME:$MLFLOW_SERVICE_PORT
MLFLOW_EXPERIMENT_NAME=Financial_Assistant_Experiment
MLFLOW_ALLOWED_HOSTS=mlflow_service:*,localhost:*,127.0.0.1:*


# open router settings
OPENROUTER_API_KEY=Enter your key here
MODEL_NAME=openai/gpt-oss-120b:free


