# Agent Service Configuration
DATABASE_URL=YOUR_DATABASE_URL

# Optional: API settings
PORT=8000

# openrouter model configuration
MODEL_NAME=openai/gpt-oss-120b:free

# open router settings
OPENROUTER_API_KEY=<YOUR_OPENROUTER_API_KEY>

# Sub-agent URLs (Market Intelligence Unit agents)
TECHNICAL_AGENT_URL=http://127.0.0.1:8001/technical
FUNDAMENTAL_AGENT_URL=http://127.0.0.1:8001/fundamental
NEWS_AGENT_URL=http://127.0.0.1:8001/news

