# technical_analysis_agent configuration
TECHNICAL_ANALYSIS_MODEL_NAME=openai/gpt-oss-120b:free
TECHNICAL_ANALYSIS_MODEL_TEMPERATURE=0.2
ALPHAVANTAGE_API_KEY_TA=<YOUR_ALPHAVANTAGE_API_KEY_TA>

# fundamental_analysis_agent configuration
FUNDAMENTAL_ANALYSIS_MODEL_NAME=openai/gpt-oss-120b:free
FUNDAMENTAL_ANALYSIS_MODEL_TEMPERATURE=0.2
ALPHAVANTAGE_API_KEY_FA=<YOUR_ALPHAVANTAGE_API_KEY_FA>


# news_agent configuration
NEWS_ANALYSIS_MODEL_NAME=openai/gpt-oss-120b:free
NEWS_ANALYSIS_MODEL_TEMPERATURE=0.2
ALPHAVANTAGE_API_KEY_NEWS=<YOUR_ALPHAVANTAGE_API_KEY_NEWS>


# open router settings
OPENROUTER_API_KEY=<YOUR_OPENROUTER_API_KEY>
